@inherits DeleteRouteDialogBase

@if (ShowDialog)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-background-color">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" id="bookToDeleteField" />
                    Are you sure you want to delete your route <span id="bookTitleField"></span>?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick="@DeleteRoute">Delete</button>
                    <a class="btn btn-outline-primary" style="border-color: #44494e;!important" @onclick="@Close">Close</a>
                </div>

            </div>
        </div>
    </div>
}
<style>
    .pac-container {
        background-color: #FFF;
        z-index: 9999;
        position: fixed;
        display: inline-block;
        float: left;
    }

    .modal {
        z-index: 2000;
    }

    .modal-backdrop {
        z-index: 1000;
    }
</style>
