<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p class="txt">Welcome to BestRoute!</p>
            <div class="container">
                <p class="txt2">
                     <a href="map">Get your best route for your amazing journey! </a>
                </p>
               
            </div>
        </LayoutView>
    </NotFound>
</Router>
